* + * {
  margin-top: 15px;
}

body, a {
  background-color: #99992A;
  color: white;
}

h1 {
  width: fit-content;
  margin: 0 auto;
}
main {
  background-color: #fff;
  color: #000;
  width: 550px;
  margin: 15px auto;
  padding: 10px;
  border-radius: 10px;
}

a {
  width: 100px;
  padding: 2px 5px;
  border-radius: 8px;
  text-decoration: none;;
}